/*================================
    GOOGLE FONT
==================================*/

@import url(http://fonts.googleapis.com/css?family=Anton|Maven+Pro:500,700); /* FREE GOOGLE FONTS */

/*================================
  GENERAL STYLES
==================================*/

body {
    font-family: 'Maven Pro', sans-serif;
    line-height: 30px;
    font-size: 14px;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pad-bottom {
    padding-bottom: 90px;
}


.head-line h1 {
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 25px;
    color: #737373;
}

.head-line hr {
    width: 120px;
    height: 3px;
    border-top: 2px solid #8e44ad;
}

/*================================
  BUTTON STYLES
==================================*/
.btn-custom {
    min-height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px 20px 5px 20px;
    margin: 25px 5px 5px 0px;
}


.btn-one {
    border: 3px solid #8e44ad;
    padding: 12px;
    color: #8e44ad;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

/*================================
  HOME SECTION STYLES
==================================*/

#home {
    background: url(../images/home.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
}

    #home .overlay {
        padding-top: 100px;
        background-color: rgba(0, 0, 0, 0.3);
        min-height: 700px;
        padding-bottom: 40px;
    }

    #home h1 {
        margin-bottom: 70px;
        line-height: 50px;
        font-size: 40px;
        color: #FFFFFF;
        text-transform: uppercase;
        border: 2px dashed #8e44ad;
        padding: 20px;
        max-width: 250px;
        font-weight: 900;
    }

.logo-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#home h4 {
    margin-bottom: 10px;
    line-height: 40px;
    font-size: 25px;
    color: #fff;
}

    #home h4 strong {
        color: #8e44ad;
    }


a.btn-launch, a.btn-launch:hover, a.btn-launch:focus {
    font-size: 20px;
    padding: 10px 25px;
    color: #fff;
    background-color: #8e44ad;
    border-color: #8e44ad;
    margin-top: 35px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.icon-home {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 30px;
    color: #E75E68;
    cursor: pointer;
}

    .icon-home a, .icon-home a:hover, .icon-home a:focus {
        color: #8e44ad;
        text-decoration: none;
    }
/*================================
    HOME BELOW STYLES
==================================*/
#home-below {
    background-color: rgba(234, 234, 234, 0.90);
}

    #home-below h2 {
        font-size: 20px;
        line-height: 30px;
    }

    #home-below p {
      line-height: 18px;
    }
/*================================
  FEATURE SECTION STYLES
==================================*/
#features .media-body {
    padding-left: 20px;
}

#features .feature-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

#features .icon-wrapper {
    font-size: 70px;
    color: #8E8E8E;
}

/*================================
    CLIENTS SECTION STYLES
==================================*/

#clients {
    background: url(../images/clients.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
}

    #clients .overlay {
        background-color: rgba(37, 18, 45, 0.8);
    }

.client-cover {
    padding: 80px 50px 80px 50px;
}
/* CLIENTS TESTIMONIAL */

#carousel-clients h4 {
    color: #fff;
    line-height: 30px;
    font-size: 20px;
}

#carousel-clients h3 {
    color: #8e44ad;
    line-height: 35px;
    font-size: 25px;
}

#carousel-clients .clients-img {
    border: 2px solid #8e44ad;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*================================
    Apply SECTION STYLES
==================================*/
#apply p {
    padding-top: 20px;
}


/*================================
    BOTTOM SECTION STYLES
 ============================  */
#bottom {
    background-color: rgba(40, 40, 40, 0.9);
    color: #fff;
}

    #bottom .social {
        padding: 50px 2px;
    }

        #bottom .social a, #bottom .social a:hover, #bottom .social a:focus {
            margin: 2px;
            padding: 10px 20px;
            background-color: rgba(0, 0, 0, 0.36);
            color: #fff;
            font-size: 25px;
        }

/*================================
    FOOTER SECTION STYLES
 ============================  */
footer {
    padding: 20px;
    color: #8e44ad;
    font-size: 16px;
    background-color: rgba(16, 16, 16, 0.9);
}

    footer a, footer a:hover, footer a:focus {
        color: #8e44ad;
        text-decoration: none;
        margin-right: 10px;
        margin-left: 10px;
    }

#home > .overlay > .img-responsive {
    margin: 0px 0px 0px 0px;
}

#home > .overlay > .text-center > .row > .img-responsive {
    margin: 0px px 0px px;
}

#home > .overlay > .text-center > .row > .col-sm-offset-2 {
    padding: 50px 50px 80px 50px;
}

#home > .overlay > .text-center > .row > .col-sm-offset-2 > .img-responsive {
    padding: 0px 0px 0px 0px !important;
}

#home > .overlay > .text-center > .row > .col-sm-offset-2 > h4 {
    margin: 10px 0px 30px 0px;
}

#features {
    padding: 0px 0px 0px 0px;
}

#features > #home-below > .text-center > .col-sm-offset-1 > .text-center > .col-xs-12 > p {
    margin: 10px 0px 10px 0px;
}

#features > #home-below {
    background: #f2f1ef;
}

#features > .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    background-position: center center !important;
}

#home {
  background-image: url("../images/coffeeisserved.png");
  background-position: center center;
}

#clients {
  background-image: url("../images/dinner-fun.jpeg");
  background-position: center center;
}

#features {
  background-image: url("../images/accessories.jpeg");
  background-position: top center;
  background-size: cover;
}

#home > .overlay {
    padding: 100px 0px 0px 0px;
}

#features > .overlay > .container > .text-center > .col-sm-offset-2 > h2 {
    color: #ececec;
}

#features > .overlay > .container > .text-center > .col-sm-offset-2 > .active > p {
    color: #ececec;
}

#clients > .overlay > .container > .text-center > .col-sm-offset-2 > h2 {
    color: #ececec;
}

#clients > .overlay > .container > .text-center > .col-sm-offset-2 > h4 {
    color: #ececec;
}

#features > .overlay > .container > .text-center > .col-sm-offset-2 > h3 {
    color: #ececec;
}

#clients > .overlay > .container > .text-center > .col-sm-offset-2 > h3 {
    color: #ececec;
}

#clients > .overlay > .container > .text-center > .col-sm-offset-2 > p {
    color: #ececec;
    padding: px 0px 0px 0px;
    margin: 40px 0px 10px 0px;
}

#home-below > .container > .img-responsive {
    margin: 20px auto 0px auto !important;
}

#features > .overlay > .container > .text-center > .col-sm-offset-2 > h3 {
    color: #ececec;
}

#clients > .overlay > .container > .text-center > .col-sm-offset-2 > h3 {
    color: #ececec;
}

#clients > .overlay > .container > .text-center > .col-sm-offset-2 > p {
    color: #ececec;
    padding: px 0px 0px 0px;
    margin: 40px 0px 10px 0px;
}

#home-below > .container > .img-responsive {
    margin: 20px auto 0px auto !important;
}

